ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: cursive;
    font-size: 20px;
    color: white;
    margin-top: 20pxpx;
    margin-bottom: 0px;
size:20px
  }
  
  li  {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  
  li :hover {
    background-color: chocolate;
  }